.container {
  color: red;
  display: flex;
  background-color: #242424;
}

.input {
  width: 100%;
  box-shadow: unset;
  border: none;
  color: #f0b569;
  padding: 8px;
  background-color: #242424;
  
  &:focus-visible {
    outline: none;
  }
}

.leftPadding {
  width: 20px;
  padding-top: 7px;
}

.icon {
  width: 100%;
  height: 10px;
}